/* importing google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap');

/* colors & font names */
:root {
  --brand-base: #ff6b00;
  --social-links: #dbd8d7;
  --white: #fff;
  --transparent-white: rgba(255, 255, 255, 0.197);
  --background: #1c1a19;
  --navbackground: #3c3a39;
  --langs: #8993a4;
  --form-text: #979493;
  --text-area: #fbf8f7;
  --link-separator: #6f6c6b;
  --nav-hidden: #fff5e1;
  --toggler: #67798e;
  --primary-family: 'Crete Round';
  --body-family: 'Poppins';
  --general-family: 'Roboto';
  --work-desc: 'Inter';
  --languages: 'Meera Inimai';
}

/* general styles */
body {
  font-size: 100%;
  min-width: 317px;
}

* {
  margin: 0;
}

/* stylelint-disabled */
.wrapper {
  box-sizing: border-box;
  background: var(--background) url('../images/background.svg') no-repeat 100% 100%;
  color: var(--white);
  min-width: 286px;
  height: 100vh;
  min-height: 695px;
  transition: background 1s ease-out;
}

.desktop-nav-links {
  display: none;
}

/* hum-menu */
/* stylelint-disable */
.active svg>path {
  d: path('M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7 5.58579L12.2929 0.292893C12.6834 -0.0976311 13.3166 -0.0976311 13.7071 0.292893C14.0976 0.683417 14.0976 1.31658 13.7071 1.70711L8.41421 7L13.7071 12.2929C14.0976 12.6834 14.0976 13.3166 13.7071 13.7071C13.3166 14.0976 12.6834 14.0976 12.2929 13.7071L7 8.41421L1.70711 13.7071C1.31658 14.0976 0.683417 14.0976 0.292893 13.7071C-0.0976311 13.3166 -0.0976311 12.6834 0.292893 12.2929L5.58579 7L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z'
    );
  fill: var(--link-separator);
}

.active svg {
  width: 18px;
  height: 18px;
}

.hide {
  display: none;
}

.nav-list {
  position: absolute;
  inset: 0;
  z-index: 1;
  padding: 5em 2em 0;
  background: var(--navbackground);
}

.nav-list>li {
  font-family: var(--work-desc);
  font-size: 32px;
  list-style: none;
  padding: 0.5em 1em;
  border-bottom: 1px solid var(--link-separator);
}

footer ul li a {
  padding: 0 1.2em 0 0;
}

.nav-list a {
  text-decoration: none;
  color: var(--nav-hidden);
  font-weight: bold;
}

/* navbar section */
.header {
  background: var(--navbackground);
  font-family: var(--general-family);
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  padding: 1em 2.2em;
}

.hum-menu {
  margin-top: 0.4em;
  position: absolute;
  z-index: 2;
  right: 50px;
}

.menu {
  background: var(--toggler);
  list-style: none;
  width: 1.5em;
  height: 0.1em;
  margin-top: 0.2em;
  cursor: pointer;
  transition: 1s;
}

/* main section */
.container {
  position: relative;
  padding: 5em 1.5em 0;
}

.welcome .intro {
  color: var(--brand-base);
  font-family: var(--primary-family);
  font-weight: 400;
  font-size: 3em;
}

.welcome .profession {
  font-family: var(--general-family);
  font-weight: 700;
  font-size: 1.4em;
  margin: 0.8em 0;
}

.description {
  font-family: var(--body-family);
  font-weight: 400;
}

/* footer */
footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 1.2em;
  flex-wrap: wrap;
  padding-bottom: 1.2em;
}

/* social links */

.social-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 1.2em;
  padding: 0 0 0 1em;
}

.social-links ul li a {
  padding: 0 1.2em 0 0;
}

/* recent works section */
.content-wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 100%);
  justify-content: center;
  background: var(--background);
  min-width: 285px;
}

.recent-works {
  background: var(--white);
  padding: 2em;
}

.recent-works>h1 {
  font-family: var(--primary-family);
  font-weight: 400;
  font-size: 2.5em;
  text-align: center;
  padding: 3em 0 0.7em;
  border-bottom: 2px solid #212121;
  margin-bottom: 1.6em;
}

figure .multi-post {
  width: 100%;
}

.recent-works>section {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5em;
}

.cards .work-description {
  font-family: var(--primary-family);
  font-weight: 400;
  font-size: 2em;
  align-self: flex-start;
  padding: 0.5em 1em;
}

.cards p.story-detail {
  font-family: var(--work-desc);
  display: block;
  padding: 0 1em;
}

.modal-langs li {
  margin-right: 1em;
  padding: 0.2em 0.5em;
  border: 1px solid black;
  font-family: var(--body-family);
}

.recent-works ul.langs {
  list-style: none;
  display: flex;
  align-self: flex-start;
  font-family: var(--work-desc);
  font-size: 0.9em;
  font-weight: 500;
  padding: 0.7em 0;
  overflow: hidden;
}

.post-wrapper ul.langs {
  list-style: none;
  display: flex;
  align-self: flex-start;
  font-family: var(--work-desc);
  font-size: 0.9em;
  font-weight: 500;
  padding: 0.7em 0;
  overflow: hidden;
}

.recent-works ul.langs>li {
  border: 1px solid var(--langs);
  padding: 0.5em;
  margin-right: 0.8em;
  list-style: none;
}

div.btn {
  align-self: flex-start;
}

div.multi-post {
  width: fit-content;
  border: none;
}

div.btn>button {
  font-family: var(--work-desc);
  font-size: 1.06em;
  font-weight: 700;
  color: var(--white);
  background: var(--brand-base);
  padding: 0.5em;
  width: 100%;
  border: none;
  cursor: pointer;
}

button.btn-get {
  background: var(--brand-base);
  color: var(--white);
  font-family: var(--work-desc);
  font-weight: 700;
  font-size: 1.06em;
  padding: 0.5em;
  width: fit-content;
  text-align: center;
  border: none;
  cursor: pointer;
}

div.btn>button:hover,
button.btn-get:hover {
  background-color: #ffff;
  color: #ff6b00;
  border: 1px solid #ff6b00;
}

div.btn>button:active,
button.btn-get:active {
  background: dark rgb(228, 104, 9);
}

.work-2 .desc-wrapper {
  background: url(../images/professional-art-background.png) no-repeat;
  background-size: cover;
  color: var(--white);
  padding: 5.5em 0 0;
}

.work-2 ul.langs {
  padding: 0.5em 1em;
  display: flex;
}

.work-2 ul.langs>li {
  background: var(--transparent-white) !important;
  border: none;
}

.work-2 div.btn {
  width: 100%;
  text-align: center;
}

/* about me section */

.about-me {
  background: var(--background) url(../images/about-background.svg) 100% 100% no-repeat;
  padding: 7em 2em;
}

.about-border {
  background: var(--white);
  height: 0.1em;
  width: 80%;
  justify-self: center;
  margin-bottom: 6em;
  margin-top: 6em;
}

.about-me>h1.about-title {
  font-family: var(--primary-family);
  font-size: 4.2em;
  font-weight: 400;
  color: var(--brand-base);
}

.about-me>p.about-desc {
  font-family: var(--work-desc);
  color: var(--white);
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  margin: 1.4em 0;
}

.about-me>div.about-btn {
  background: var(--brand-base);
  color: var(--white);
  font-family: var(--work-desc);
  font-weight: 700;
  font-size: 1.06em;
  padding: 0.5em;
  width: fit-content;
  text-align: center;
}

/* language lists section */

.knowledge-desc {
  padding-bottom: 7.5em;
  justify-content: center;
  padding-right: 2em;
  background: var(--background);
}

.knowledge-desc>ul {
  list-style: none;
  color: var(--white);
  font-family: var(--languages);
  line-height: 3em;
  font-size: 1.3em;
  font-weight: 400;
  text-align: center;
  margin-top: 0.5em;
}

ul.language::before {
  content: attr(data-header);
  font-size: 120%;
  font-weight: bold;
  margin-left: -15px;
  background: url(../images/language.svg) no-repeat 0.1em 0;
  padding-left: 1.5em;
}

ul.frameworks::before {
  content: attr(data-header);
  font-size: 120%;
  font-weight: bold;
  margin-left: -15px;
  background: url(../images/frameworks.svg) no-repeat 0.1em 0;
  padding-left: 1.5em;
}

ul.skills::before {
  content: attr(data-header);
  font-size: 120%;
  font-weight: bold;
  margin-left: -15px;
  background: url(../images/skills.svg) no-repeat 0.1em 0;
  padding-left: 1.5em;
}

/* get in touch section */

.get-in-touch {
  background: var(--white);
  font-family: var(--work-desc);
  font-weight: 700;
  font-size: 1.3em;
  text-align: center;
  line-height: 44px;
  min-width: 285px;
  width: 90%;
  margin: 5em auto;
}

form.get-in-touch-form input {
  border: none;
  border-bottom: 1px solid var(--form-text);
  color: var(--form-text);
  padding: 0.6em;
  width: 90%;
}

form>textarea {
  background: var(--text-area);
  border: none;
  padding: 1em;
  margin: 1em 0;
  width: 90%;
}

/* footer section */
footer {
  min-width: 285px;
  margin: auto;
  border-top: solid 1px var(--form-text);
}

.border-div {
  display: flex;
  justify-content: center;
}

/* modal */

.modal-wrapper {
  position: fixed;
  inset: 0;
  z-index: 2;
  min-width: 432px;
}

.modal-background {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.23);
  backdrop-filter: blur(8px);
  z-index: 4;
}

.main-modal {
  position: relative;
  z-index: 10;
  background: var(--white);
  height: 90%;
  margin: 1em 2em;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  font-family: var(--general-family);
}

.modal-langs {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 1em;
}

.bottom-wrapper figure {
  margin-bottom: 1em;
  width: 100%;
  font-family: var(--work-desc);
}

.bottom-wrapper figure img {
  width: 100%;
  height: 350px;
}

.modal-description p {
  margin-bottom: 1em;
}

.modal-description button.btn {
  background-color: var(--brand-base);
  color: var(--white);
  font-size: 17px;
  font-family: var(--general-family);
  padding: 10px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border: none;
}

.modal-description button.btn a {
  text-decoration: none;
  color: var(--white);
}

.modal-button-wrapper {
  display: flex;
  gap: 1em;
}

.modal-hide {
  display: none;
}

.modal-x {
  cursor: pointer;
}

.error {
  color: red;
}