@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: montserrat, sans-serif;
}

/* Header menu keyframes */

@keyframes menu-open {
  from {
    visibility: hidden;
    opacity: 0;
  }

  1% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes menu-close {
  from {
    visibility: visible;
    opacity: 1;
  }

  99% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  background: #3c3a39;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

/* When the menu button is clicked */
.nav .open {
  animation: menu-open 250ms ease-in-out 0ms 1 forwards;
}

/* When the cancel-menu button is clicked */
.nav .close {
  animation: menu-close 250ms ease-in-out 0ms 1 forwards;
}

.logo a {
  color: #fff;
  background-color: #3c3a39;
  font-family: sans-serif;
  list-style: none;
}

a .navImage {
  background-color: #fff;
}

.desktop-nav {
  display: none;
}

.desktop-nav ul li img {
  width: 24;
}

.header__menu {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1005;
  text-align: end;
  background-color: #3c3a39;
  padding: 13px;
}

.header__menu-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}

.header__menu-btn:hover {
  background-color: var(--lightGreen);
}

.header__menu-content {
  padding: 0.875rem 0 0;
  list-style: none;
  text-align: left;
  height: 70vh;
}

.header__menu-link {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  color: #fff5e1;
  width: 100%;
  padding: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
  border-bottom: solid 2px #6f6c6b;
}

.header__menu-link:hover {
  color: var(--white);
  background-color: var(--lime);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  background-color: #1c1a19;
  background-image: url("../images/background.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.headline {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6800;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  flex: none;
  flex-grow: 0;
  color: #fff5e1;
}

.introduction {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  flex-grow: 0;
  color: #fff;
}

.icons ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 1.2em;
  padding: 0 0 0 1em;
}

.icons ul li {
  padding: 0 1.2em 0 0;
}

.work {
  display: grid;
  gap: 50px;
}

.multistories {
  display: flex;
  flex-direction: column;
  padding: 60px 24px;
  gap: 12px;
}

.multistories h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  padding: 25px;
}

.multistories h3 {
  display: flex;
  align-items: center;
  width: 327px;
  height: 36px;
  flex: none;
  flex-grow: 0;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.multistories p {
  color: #091e42;

  /* width: 327px;
  height: 147px; */
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.languages {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
}

.multistories button {
  width: 155px;
  height: 60px;
  padding: 12px;
  gap: 10px;
  background: #ff6b00;
  border-color: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

.project {
  background: linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url(../images/imageprocessing.png);
  display: flex;
  flex-direction: column;
  padding: 120px 24px;
  gap: 12px;
}

.project h1 {
  flex: none;
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.project p {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.projectLanguages {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  list-style: none;
}

.project button {
  justify-content: center;
  background: #ff6b00;
  border-color: #ff6b00;
  width: 303px;
  height: 49px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 25px;
}

.about {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  background-color: #1c1a19;
  background-image: url("../images/background.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.about button {
  justify-content: center;
  background: #ff6b00;
  border-color: #ff6b00;
  width: 303px;
  height: 49px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 25px;
}

.aboutList {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
}

.aboutList ul {
  padding: 60px 24px;
  flex-direction: column;
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  gap: 24px;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  flex-grow: 0;
}

.aboutList ul li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  flex-grow: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 58px;
  background-color: white;
}

.form h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  flex: none;
  flex-grow: 0;
}

.contact {
  display: flex;
  flex-direction: column;

  /* align-items: center; */
  padding: 0;
  margin: 0 auto;
  width: 400px;
  height: 330px;
  border: none;
}

input {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  height: 50px;
  padding-left: 10px;
}

textarea {
  padding: 10px;
  border: none;
  background: #fbf8f7;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.contact button {
  align-self: center;
  gap: 10px;
  height: 60px;
  width: 140px;
  background-color: #ff6b00;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  margin-top: 15px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contant-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 24px;
  gap: 50px;
}

.input-field {
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 39px;
  width: 100%;
}

.input-field::placeholder {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.text-area {
  width: 100%;
}

.text-area::placeholder {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 58px;
}

.contact-button {
  padding: 12px;
  width: 131px;
  background: #ff6b00;
  border: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin: 12px auto 0 0;
}

.footer-icons {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.footer-icons ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
